table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
   
}
table  td,table th{
    border: 1px solid blueviolet;
    padding: 10px;
    min-width: 160px;
}
table th{
    border: 1px solid black;
    padding: 10px;
    min-width: 160px;
    color:black;
}
img{
width: 100px;
height:100px;
}
.deleteProduct{
   cursor: pointer;
}
.adjust-update-link{
    margin-left: 10px;
}